<div class="container content-wrapper buffer-both">
  <%= content_tag(:h2, t('.log_in_on_site'), class: 'title-medium') %>

  <div class="column-1-2">
    <div class="form">
      <%= form_tag session_path do %>
        <div class="form-field">
          <%= label_tag :email, t('.login'), class: 'form-label' %>
          <%= text_field_tag :email, params[:email], class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= label_tag :password, t('.password'), class: 'form-label' %>
          <%= password_field_tag :password, '', class: 'form-text-field' %>
        </div>

        <div class="form-action">
          <%= submit_tag t('.log_in'), class: 'button button-dark button-small' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
